{% extends 'base.html' %}




{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="header-content">
        <h1>{% block title %} Voltaje {% endblock %} </h1>
        <a href="{{ url_for('create')}}">
            <button class="btn btn-primary">Registrar</button>
        </a>
    </div>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Hora</th>
                <th scope="col">V1</th>
                <th scope="col">V3</th>
                <th scope="col">V2</th>
            </tr>
        </thead>
        <tbody>
            
            {% for hm in hhmm %}
                <tr>
                    <th>{{hm}}</th>
                        {% for voltaje in voltajes %}
                            {% if voltaje['hora'] == hm %}
                            <td>{{ voltaje['v1'] }}</td>
                            <td>{{ voltaje['v2'] }}</td>
                            <td>{{ voltaje['v3'] }}</td>
                            {% endif %}
                        {% endfor %}
                </tr>
                

            {% endfor %}


            
        </tbody>
    </table>




{% endblock %}